/*styling part of the form*/
label {
    font-size: 20px;
    color: darkblue;
    width:150px;
    display:inline-block;
}

/*making the img size fit page beter*/
img {
    width: 400px;
    height: 300px;
}


/* if you want a certain font size inputted
textarea {
    font-size: 20px;
}*/

/*If you have A.B,C's already*/
/*li {
    list-style-type: none;
}*/


