@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
@*sets variables of title and header to be = to what I assign it*@
    ViewData["Title"] = "Katherine's Webpage!";
    ViewData["Header"] = "Katherine";
}


<!--picture of me-->
<center><img id="picKat" src="img/milanHM.jpg" /></center>
<br /><br />

<!--paragraph of what I want to learn from this class-->
<p>
    While taking IS413 I hope to learn how to be confident in my coding/debugging abilities. I tend to feel inadequate
    and frequently stressed. I intend to minimize my stress by focusing on what I have learned instead of every detail of
    what I have not learned. I am excited for this semester but mostly excited for this semster to be over so I can look
    back and see what I have accomplished.
</p>
<br />

<!--list of potential jobs post graduation-->
<h2>Jobs Post Graduation I am interested in:</h2>
<ol>
    <li>Tech Consultant</li>
    <li>Cyber Security</li>
    <li>To be a mother</li>
</ol>


